.artist-song-name {
    margin-left: 10px;
}

.song-duration {
    float: right;
    margin-right: 20px;
    color: #494147;
}

.songLine:hover{
    background-color: #fee6f3;
}

.img-play-button{
    height: 30px;
    width: 30px;
}

.img-pause-button {
    height: 30px;
    width: 30px;
}

.icon-add-remove-song {
    float: right;
    margin-right: 20px;
    /*background-color: #fed7ec;*/
}

    .icon-add-remove-song:hover {
        cursor: pointer;
        border-radius: 100%;
        background-color: #ffffff;
    }

.ref-artist {
    text-decoration: underline;
}

    .ref-artist:hover {
        text-decoration: none;
        cursor: pointer;
        color: #1f001a;
    }

.img-play-button-reduced {
    height: 20px;
    width: 20px;
}

.reduced-button-play {
    height: 20px;
    width: 20px;
}

.img-pause-button-reduced {
    height: 20px;
    width: 20px;
}

.reduced-button-pause {
    height: 20px;
    width: 20px;
}

.reduced-song-name{
    font-size:15px;
}